{% extends 'base.html' %}


{% block title %}
Register your account!
{% endblock %}

{% block content %}

<form id="new-user-form" action="/register" method="POST">
  {{ form.hidden_tag() }}
  <!--add type=hidden form fields -->

  {% for field in form
  if field.widget.input_type != 'hidden' %}

  <p>
      {{ field.label }}
      {{ field }}

      {% for error in field.errors %}
      {{ error }}
      {% endfor %}
  </p>

  {% endfor %}

  <a class="btn btn-outline-primary" href="/register">Cancel</a>
  <button class="btn btn-success" type="submit">Confirm</button>
</form>

<a class="text-decoration-none" href="/login"><i>(already registered?)</i></a>

{% endblock %}
